{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Doctors</h1>
    <div class="row">
        {% for doctor in doctors %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ doctor.profile_picture.url }}" alt="Profile picture">
                <div class="card-body">
                    <h5 class="card-title">{{ doctor.first_name }} {{ doctor.last_name }}</h5>
                    <a href="{% url 'book_appointment' doctor.id %}" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
