{% extends 'base.html' %}

{% block title %}View Blogs{% endblock %}

{% block content %}
<h2>Blog Posts</h2>
{% for category in categories %}
    <h3>{{ category.name }}</h3>
    <ul>
        {% for blog in category.blogpost_set.filter(is_draft=False) %}
            <li>
                <h3>{{ blog.title }}</h3>
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                <p>{{ blog.summary|slice:":15" }}{% if blog.summary|length > 15 %}...{% endif %}</p>
                <a href="{% url 'category_blogs' blog.category.id %}">Read More</a>
            </li>
        {% empty %}
            <p>No blog posts available.</p>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
