{% extends 'base.html' %}

{% block title %}View Blog Posts{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Blog Posts</h2>
    {% for category in categories %}
        <h3>{{ category.name }}</h3>
        <div class="list-group mb-4">
            {% for post in category.blogpost_set.all %}
                {% if not post.is_draft %}
                    <a href="{% url 'post_detail' post.id %}" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <p class="mb-1">{{ post.content|truncatewords:30 }}</p>
                        <small class="text-muted">By {{ post.author.get_full_name }} on {{ post.created_at }}</small>
                    </a>
                    {% if post.author == request.user %}
                    <a href="{% url 'edit_blog_post' post.id %}" class="btn btn-warning mt-3">Edit Post</a>
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
